.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding: 0px 30px;
}

.explore-menu h1 {
  color: tomato;
  font-weight: 500;
  text-align: center;
}

.explore-menu-text {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  color: rgb(102, 90, 90);
}

.explore-menu-list {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 10px;
  overflow-x: auto; 
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.2s, border 0.2s;
  border: 3px solid transparent;
}

.explore-menu-list-item img.active {
  border: 3px solid tomato;
  transform: scale(1.05);
}

.explore-menu-list-item p {
  margin-top: 10px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

/* Scroll buttons */
.scroll-btn {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
   background: #ff6b6b;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.scroll-btn:hover { 
  background: #ff4040; 
}
